* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font: 13px Helvetica, Arial;
    height: 100%;
}
form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}
form button {
    min-width: 50px;
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
	position: absolute;
	right: 3px;
}
.messagebox {
	height: calc(100% - 40px);
	overflow: auto;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}
.col-3 {
    width: 24.5%;
    height: 99.5%;
    display: inline-block;
}
.col-3 iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}
.container-top {
    text-align: center;
    height: 25px;
}
.container-top .col-3 {
	font-weight: bold;
	color: #fff;
	background-color: #000;
	padding: 5px;
}
.container {
    text-align: center;
    height: calc(100% - 30px);
}